<!DOCTYPE HTML>
<html> 
<head>
	{% block title %}{% endblock %}
	<meta charset="utf-8">
	<link href="\static/style.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
	   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
	   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
	   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

	   ym(61860454, "init", {
	        clickmap:true,
	        trackLinks:true,
	        accurateTrackBounce:true,
	        webvisor:true
	   });
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/61860454" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
	<div class="main">
		<h1><a href="/" id="logo">&lt; dbhd.ru </a></h1> 
		<br>
	 	{% block content %}{% endblock %}
		
	 	<div id="footer">
			<pre><a href="\add_film">Добавить фильм</a>   <a href="\faq">FAQ</a></pre>
	 	</div> 
	 </div>
</body>
</html>